{% extends 'base.html' %}
{% block content %}
<h2>{{ media.title }}</h2>
<p>{{ media.description }}</p>
{% if media.media_type == 'video' %}
    <video width="640" controls>
        <source src="{{ media.file.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
{% else %}
    <img src="{{ media.file.url }}" width="640" alt="{{ media.title }}">
{% endif %}

<h3>Comments</h3>
<ul>
    {% for comment in comments %}
        <li>{{ comment.user.username }}: {{ comment.content }}</li>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Comment</button>
</form>
{% endif %}
{% endblock %}
